:root {
    --btnW: 8vw;

    /* hsl (fallback color) */
    --bg-dark: hsl(247 100% 6%);
    --bg: hsl(237 100% 10%);
    --bg-light: hsl(227 95% 13%);
    --text: hsl(220 100% 100%);
    --text-muted: hsl(220 78% 76%);
    --highlight: hsl(223 67% 48%);
    --border: hsl(224 86% 36%);
    --border-muted: hsl(233 100% 27%);
    --primary: hsl(221 100% 80%);
    --secondary: hsl(46 100% 32%);
    --danger: hsl(7 99% 66%);
    --warning: hsl(53 100% 22%);
    --success: hsl(163 100% 24%);
    --info: hsl(217 100% 70%);
    /* oklch */
    --bg-dark: oklch(0.1 0.095 264);
    --bg: oklch(0.15 0.095 264);
    --bg-light: oklch(0.2 0.095 264);
    --text: oklch(0.96 0.1 264);
    --text-muted: oklch(0.76 0.1 264);
    --highlight: oklch(0.5 0.19 264);
    --border: oklch(0.4 0.19 264);
    --border-muted: oklch(0.3 0.19 264);
    --primary: oklch(0.76 0.19 264);
    --secondary: oklch(0.76 0.19 84);
    --danger: oklch(0.7 0.19 30);
    --warning: oklch(0.7 0.19 100);
    --success: oklch(0.7 0.19 160);
    --info: oklch(0.7 0.19 260);
}

html.light {
    /* hsl (fallback color) */
    --bg-dark: hsl(220 100% 96%);
    --bg: hsl(220 100% 100%);
    --bg-light: hsl(220 100% 100%);
    --text: hsl(260 100% 12%);
    --text-muted: hsl(224 86% 36%);
    --highlight: hsl(221 100% 100%);
    --border: hsl(222 85% 60%);
    --border-muted: hsl(221 100% 73%);
    --primary: hsl(224 86% 36%);
    --secondary: hsl(37 100% 13%);
    --danger: hsl(5 86% 39%);
    --warning: hsl(51 100% 12%);
    --success: hsl(159 100% 10%);
    --info: hsl(216 85% 43%);
    /* oklch */
    --bg-dark: oklch(0.92 0.095 264);
    --bg: oklch(0.96 0.095 264);
    --bg-light: oklch(1 0.095 264);
    --text: oklch(0.15 0.19 264);
    --text-muted: oklch(0.4 0.19 264);
    --highlight: oklch(1 0.19 264);
    --border: oklch(0.6 0.19 264);
    --border-muted: oklch(0.7 0.19 264);
    --primary: oklch(0.4 0.19 264);
    --secondary: oklch(0.4 0.19 84);
    --danger: oklch(0.5 0.19 30);
    --warning: oklch(0.5 0.19 100);
    --success: oklch(0.5 0.19 160);
    --info: oklch(0.5 0.19 260);
}

html {
    scroll-behavior: smooth;
    user-select: none;
    font-family: system-ui;
    color: var(--text);
    background-color: var(--bg-dark);

    transition: all 100ms;
}

a {
    text-decoration: none;
    color: var(--html);
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

img {
    user-select: none;
}

button {
    font-family: inherit;
    font-size: 100%;
    cursor: pointer;
}

.login {
    position: absolute;
    display: grid;
    z-index: 1;
    width: 600px;
    height: 600px;
    left: calc(50% - 300px);
    top: calc(50% - 300px);
    background-color: var(--bg-light);
    box-shadow: 2px 2px 10px black;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bolder;
}

.submit {
    background-color: goldenrod;
    width: 400px;
    height: 60px;
    border: 10px;
    border-style: double;
    border-color: gainsboro;
    border-radius: 40px;
    font-size: 20px;
    font-family: inherit;
    font-weight: bolder;
}

.login input {
    font-family: Helvetica;
    width: 300px;
    height: 20px;
}

.passwordDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.passwordDiv input {
    margin-left: 40px;
}

.showPW {
    position: relative;
    top: 3px;
    left: -43px;
    aspect-ratio: 1/1;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.logo {
    width: 35%;
    height: 35%;
}

.fullLogo {
    position: relative;
    left: 2%;
    max-width: 20%;
    max-height: 90%;
    cursor: pointer;
}

.nav {
    position: inherit;
    width: 100%;
    height: 120px;
    background-color: var(--bg-light);
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    opacity: 0;
}

.nav.navAppear {
    transition: opacity 150ms 50ms;
    opacity: 1;
}

.dropdown {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: row;
}

.dropdown li {
    height: 100%;
    margin-left: 10px;
}

.dropdownBTN {
    position: relative;
    width: var(--btnW);
    height: 100%;
    background-color: transparent;
    font-size: 125%;
    color: inherit;
    border: none;
}

.dropdownBTN:hover {
    background-color: var(--secondary);
}

.dropdown-content {
    display: flex;
    padding: 0;
    flex-direction: column;
    width: var(--btnW);
    position: absolute;
    top: 100%;
    transform-origin: top center;
}

.dropdown-content button {
    font-size: 80%;
    text-align: center;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    background-color: var(--bg-light);
    color: inherit;
    box-shadow: 2px 2px 10px black;
}

.dropdown-content button:hover {
    background-color: var(--secondary);
}

.dropdown-content.show {
    animation: growDown 150ms ease-in-out forwards;
}

.notLoading {
    display: none;
}

.dropdown-content.hiddenBTN {
    animation: growUp 150ms ease-in-out forwards;
}

.logo {
    position: static;
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
    top: calc(50% - 260px);
}

.loading {
    position: fixed;
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

.loadingLogo {
    position: fixed;
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
    top: calc(50% - 260px);
}

.loadingDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: darkgray;
}

.loadingDiv.hiddenLoading {
    z-index: -104;
    opacity: 0;
    transition: opacity 150ms;
}

.window {
    position: fixed;
    top: 7%;
    z-index: 4;
    overflow: auto;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    margin: 5%;
    margin-top: 0;
}

.hidden {
    display: none;
}

.anagraficaLi {
    display: flex;
    background-color: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.anagrafica {
    color: var(--text);
    width: 70%;
    margin-left: 3%;
    align-self: center;
    text-align: center;
}

.person {
    position: relative;
    max-width: 20%;
    fill: var(--text);
}

.istitutoLi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--info);
    width: 35%;
}

#loadingBar {
    position: absolute;
    top: calc(50% + 40px);
    width: 0%;
    height: 30px;
    background-color: #1e90ff;
    text-align: center;
    line-height: 30px;
    color: inherit;
}

/*------------------------------- KeyFrames ------------------------------------*/

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.1);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes growUp {
    0% {
        transform: scaleY(1);
    }

    80% {
        transform: scaleY(0.2);
    }

    100% {
        transform: scaleY(0);
    }
}

/*------------------------------- Media Queries ------------------------------------*/
/*------------------------------- (da sostituire con mobile.css) ------------------------------------*/
@media screen and (max-width: 638px) {
    .nav {
        background-color: goldenrod;
        flex-direction: column;
        height: 100%;
    }

    .dropdown {
        padding: 0;
        flex-direction: column;
    }

    .dropdownBTN:hover {
        border-radius: 5px;
    }
}